name: API Automation Testing

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  run-api-tests:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: "17"
        distribution: "temurin"

    - name: Build Spring Boot App
      run: mvn -B package --file pom.xml

    - name: Run Spring Boot App in background
      run: |
        nohup java -jar target/*.jar &
        sleep 20

    - name: Install Newman
      run: |
        npm install -g newman
        npm install -g newman-reporter-htmlextra

    - name: Run Postman Tests with Newman
      run: |
        newman run postman/Simple-Spring-Boot-API-Testing.postman_collection.json \
        -r htmlextra --reporter-htmlextra-export newman-report.html

    - name: Upload Test Report
      uses: actions/upload-artifact@v4
      with:
        name: API-Test-Report
        path: newman-report.html     
